@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.title, .btn-container{
    background-color: rgb(39, 37, 37);
    display: flex;
    padding: 20px 10px;
}

.title{
    flex-direction: column;
    align-items: center;
}

.title h2{
    color: white;
    font-size: 2.7em;
    padding: 8px;
}

.underline{
    height: 0.25rem;
    width: 100px;
    background-color: #c59d5f;
}

.btn-container{
    justify-content: center;
}

button{
    padding: 10px 15px;
    margin: 4px;
    border-radius: 10px;
    background-color:transparent;
    color: #c59d5f;
    cursor: pointer;
    transition: all 0.3s linear;
    border: 2px outset #C59D70;
}

button:hover{
    background-color: #987137;
    color: white;
}

.foto{
    width: 390px;
    border-radius: 8px;
    border: 7px outset #C59D70;
    object-fit: cover;/*para caber caso diminuir a altura/largura da imagem*/
    margin-left: 20px
}

.section-center{
    width: 93vw;
    display: grid;
    margin: 50px auto;
    gap: 3em 2em;
    justify-items: center;
    max-width: 1170px;
}

.menu-item{
    display: grid;
    gap: 3em 2em;
    max-width: 29em;
}

.item-info{
    max-width: 417px;
}

.item-info header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed rgb(35, 35, 35);
    font-size: 1.3em;
}

.price{
    color: #c59d5f;
}

.item-text{
    text-align: justify;
    padding: 15px 0px;
}

@media screen and (min-width: 768px) {
    .title h2{
        font-size: 3em;
    }

    button{
        padding: 12px 25px;
    }

    .menu-item {
        grid-template-columns: 225px 1fr;
        column-gap: 4.8em;
        max-width: 40em;
    }
    .foto{
        width: 270px;
        height: 175px;
    }
  }

  @media screen and (min-width: 1200px) {
    .title h2{
        font-size: 3.5em;
    }

    .underline{
        height: 0.30em;
        width: 140px;
        background-color: #c59d5f;
    }

    button{
        padding: 16px 30px;
    }
    
    .section-center {
      width: 95vw;
      grid-template-columns: 1fr 1fr;
    }

    .photo {
      height: 150px;
    }

    .menu-item {
        margin-left: -17px;
    }

    .item-info header{
        padding: 6px;
    }

    .item-info p{
        width: 257px;
    }
  }